@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Montserrat:wght@700&family=Mooli&family=Roboto&family=Roboto+Mono&family=Ubuntu:wght@500&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
}
header{
  margin-top: 0px;
  color: #C9BD97;
  font-weight: bold;
}
h1{
  margin-top: 0px;
  font-size: 35px;
}
form{
  background-color: #333;
  border-radius: 10px;
  margin-top: 50px;
  border-top: 5px solid #C9BD97;
  padding: 20px;
  padding-bottom: 20px;
}
.intro{
  color: #C9BD97;
  font-size: 35px;
  text-align: left;
  padding-bottom: 0;
  margin-right: 8px;
  margin-left: 8px;
}
.riddle{
  line-height: 30px;
  margin-top: 10px;
  text-align: justify;
  font-weight: lighter;
  color: #C9BD97;
  font-size: 20px;
}

label{
  color: whitesmoke;
  font-weight: bold;
}
label p{
  margin-bottom: 5px;
  text-align: left;
  margin-left: 10px;
}

input[type=text]{
  background-color: #212121;
  margin-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
  width: 90%;
  height: 60px;
  border-radius: 5px;
  display: block;
  outline: none;
  border: none;
  color: #9E9FA9;
}

input[type=text]:focus{
  border: 1px solid #C9BD97;
}


#submit{
  background: linear-gradient(to top left , #c75a3a, #d1f2a3);
  font-family: 'Mooli', sans-serif;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 97%;
  height: 45px;
  font-size: 18px;
  color: #333;
  transition: background 1s;
}
#submit:hover{
  background: linear-gradient(to top left , #d1f2a3, #c75a3a);
}

.forget{
  
  font-weight: bold;
  font-size: 17px;
}
.forget > a{
  text-align: left;
  color: #C9BD97;
}

.signup{
  margin-left: 100px;
  font-weight: bold;
  font-size: 17px;
  margin-right: 0;
}
.signup > a{
  text-align: right;
  color: #C9BD97;
}
@media only screen and (min-width: 720px) {
  body{
    padding: 90px;
  }
  label p{
    margin-left: 30px;
  }
  #submit{
    width: 93%;
  }
}