@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Montserrat:wght@700&family=Mooli&family=Roboto&family=Roboto+Mono&family=Ubuntu:wght@500&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
}
header{
  margin-top: 0px;
  color: #C9BD97;
  font-weight: bold;
}
h1{
  margin-top: 0px;
  font-size: 35px;
}
form{
  background-color: #333;
  border-radius: 10px;
  margin-top: 50px;
  border-top: 5px solid #C9BD97;
  padding: 10px;
  padding-bottom: 20px;
}
.intro {
  color: #C9BD97;
  font-size: 30px;
  text-align: left;
  padding-bottom: 0;
}
label{
  color: whitesmoke;
  font-weight: bold;
}
label p{
  margin-bottom: 5px;
  text-align: left;
  margin-left: 10px;
}
.material-symbols-rounded{
  color: #C9BD97;
  font-size: 15px;
}
.errorTxt3 {
  margin-top: 0;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  font-weight: lighter;
}
.errorTxt2 {
  margin-top: 0;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  font-weight: lighter;
}
.errorTxt1 {
  margin-top: 0;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  font-weight: lighter;
}
.errorTxt{
  margin-top: 0;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  font-weight: lighter;
}
input[type=number],
input[type=text],
input[type=email],
input[type=password]{
  background-color: #212121;
  margin-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
  outline: none;
  border: none;
  color: #9E9FA9;
}
input[type-number]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus{
  border: 1px solid #C9BD97;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder{
  
}

#submit{
  background: linear-gradient(to top left , #c75a3a, #d1f2a3);
  font-family: 'Mooli', sans-serif;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  border: none;
  width: 97%;
  height: 45px;
  font-size: 18px;
  color: #333;
  transition: background 1s;
}
#submit:hover{
  background: linear-gradient(to top left , #d1f2a3, #c75a3a);
}

.forget{
  
  font-weight: bold;
  font-size: 17px;
}
.forget > a{
  text-align: left;
  color: #C9BD97;
}

.signup{
  margin-left: 70px;
  font-weight: bold;
  font-size: 17px;
  margin-right: 0;
}
.signup > a{
  text-align: right;
  color: #C9BD97;
}
@media only screen and (min-width: 720px) {
  body{
    padding: 90px;
  }
  label p{
    margin-left: 30px;
  }
  #submit{
    width: 93%;
  }
}


.form{
  margin-right: 20px;
  margin-left: 20px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 50px;
  border-top: 5px solid #C9BD97;
  padding: 10px;
  padding-bottom: 20px;
}
h3{
  text-align: center;
  color: #9E9FA9;
}
.note{
  text-align: justify;
  padding: 10px;
}
.nite {
  font-weight: bold;
  color: #C9BD97;
  font-size: 25px;
  padding-bottom: 0;
}
.notes{
  color: #C9BD97;
  font-size: 17px;
}

.userIdBackground{
  background-color: #121212;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  padding-left: 0px;
  border-radius: 5px;
  margin-right: 50px;
  margin-left: 50px;
  height: 25px;
  color: #9E9FA9;
}
#userId{
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-left: 0px;
}

.modal {
  position: absolute;
  z-index: 2;
  top: 20%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

