@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Montserrat:wght@700&family=Mooli&family=Roboto&family=Roboto+Mono&family=Ubuntu:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%vw;
}
header{
  padding-top: 10px;
  padding-left: 10px;
  color: #5F5989;
  font-weight: bold;
  margin-bottom: 20px;
  height: 55px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
}
h1{
  font-size: 30px;
}
center{
  text-align: center;
  padding: 8px;
}
a{
  text-decoration: none;
}
form{
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 50px;
  border-top: 5px solid #5F5989;
  padding: 10px;
  padding-bottom: 20px;
}

form  > img{
  width: 20%;
}
.user{
  margin: 5px;
  color: #5F5989;
  font-size: 20px;
}
.intro {
  color: #5F5989;
  font-size: 30px;
  text-align: left;
  padding-bottom: 0;
}
label{
  color: #5F5989;
  font-weight: bold;
}
label p{
  margin-bottom: 5px;
  text-align: left;
  margin-left: 20px;
}
.material-symbols-rounded{
  color: #5F5989;
  font-size: 15px;
}
.errorTxt3 {
  margin-top: 0;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  font-weight: lighter;
}
.errorTxt2 {
  margin-top: 0;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  font-weight: lighter;
}
.errorTxt1 {
  margin-top: 0;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  font-weight: lighter;
}
.errorTxt{
  margin-top: 0;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  font-weight: lighter;
}
input[type=number],
input[type=text],
input[type=email],
input[type=password]{
  background-color: #fff;
  margin-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
  outline: none;
  border: none;
  color: #7F7C8D;
}
input[type-number]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus{
  border: 1px solid #5F5989;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder{
  
}

#submit{
  background: linear-gradient(to top left , #5F5989, #7F7C8D);
  font-family: 'Mooli', sans-serif;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  color: #fff;
  border: none;
  width: 90%;
  height: 45px;
  font-size: 18px;
  transition: background 1s, color 1s, border 1s;
}
#submit:hover, #submit:active{
  background: #fff;
  border: 2px solid #5F5989;
  color: #5F5989;
}

.forget{
  font-weight: bold;
  font-size: 17px;
}
.forget > a{
  text-align: left;
  color: #5F5989;
}

.signup{
  margin-left: 30px;
  font-weight: bold;
  font-size: 17px;
  margin-right: 0;
}
.signup > a{
  text-align: right;
  color: #5F5989;
}

/******modal*********/

.form{
  margin-right: 20px;
  margin-left: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 50px;
  border-top: 5px solid #5F5989;
  padding: 10px;
  padding-bottom: 20px;
}
h3{
  text-align: center;
  color: #5F5989;
}
.note{
  text-align: justify;
  padding: 10px;
}
.nite {
  font-weight: bold;
  color: #5F5989;
  font-size: 25px;
  padding-bottom: 0;
}
.notes{
  color: #5F5989;
  font-size: 17px;
}

.userIdBackground{
  background-color: #5F5989;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  padding-left: 0px;
  border-radius: 5px;
  margin-right: 50px;
  margin-left: 50px;
  height: 25px;
  color: whitesmoke;
}
#userId{
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-left: 0px;
}

.modal {
  position: absolute;
  z-index: 2;
  top: 20%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}



@media only screen and (min-width: 720px) {
  center{
    padding: 180px;
  }
  header{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
  }
  label p{
    margin-left: 35px;
  }
  #submit{
    width: 90%;
    display: block;
    margin-left: 30px;
  }
}


